.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 10%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 61%
    right: 30%
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 71%
    right: 30%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

.color-primario-10
  background-color: rgba($color-primario,0.1)
.color-secundario-10
  background-color: rgba($color-secundario,0.1)
.color-adicional-2-10
  background-color: rgba($color-adicional-2,0.1)
.color-adicional-1-10
  background-color: rgba($color-adicional-1,0.1)
.color-acento-contenido-10
  background-color: rgba($color-acento-contenido,0.1)

// Fondos
.bg-hojas
  background-size: cover
  background-image: url("../assets/curso/temas/tema1/img_02.jpg")
  background-position: right center
  @media (max-width: $bp-max-xs)
    background-image: none

.banner-principal .tarjeta
  background-position: left 50% !important

.banner-principal__row .banner-principal__img
  width: 400px !important

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

.banner-interno__fondo
  background-size: cover
  background-image: url("../assets/curso/portada/fondo-banner-principal-interno.svg") !important
  background-position: center center

figcaption
  font-weight: normal

.img-outside
  position: absolute
  left: 50px
  bottom: 0

  // Móviles <768px
  @media (max-width: $bp-max-xs)
    position: relative
    left: 0
    bottom: -10px

  // 768px exacto: ajuste fino
  @media (min-width: 768px) and (max-width: 768px)
    position: relative
    left: 20px
    bottom: -20px

  // 769px a 1199px: incluye tablets, como 1024px
  @media (min-width: 769px) and (max-width: $bp-max-lg)
    position: relative
    left: 20px
    bottom: -38px

  // XL: 1200px a 1400px
  @media (min-width: $bp-min-xl) and (max-width: $bp-max-xl)
    position: relative
    left: 20px
    bottom: 0
